
// COLORS
$color-primary: #000;
$color-primary-light: #d3d3d3;
$color-primary-dark: #fff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

.header {
	height: 100vh;
	background-image: url("https://res.cloudinary.com/mostmojo/image/upload/v1568146877/1final.jpg");
	background-size: cover;
	object-fit: contain;
	background-position: center;
	overflow: hidden;

	// @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
	//   only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
	//   only screen and (min-width: 125em) {
	//   background-image: url("https://res.cloudinary.com/mostmojo/image/upload/v1568146877/1final.jpg");
	// }

	&__logo-box {
	  position: absolute;
	  top: 4rem;
	  left: 4rem;
	}

	&__logo {
	  height: 3.5rem;
	}

	&__text-box {
	  position: absolute;
	  top: 55%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  text-align: center;
	}
  }

  // -------------------

  .heading-primary {
	color: #ffdad0;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-left: 2rem;

	&--main {
	  display: block;
	  font-size: 15vw;
	  font-weight: 600;
	  letter-spacing: 0.5rem;
	  opacity: 0;
	  animation-name: moveInLeft;
	  animation-duration: 4.5s;
	  animation-timing-function: ease-out;

	  /* animation-iteration-count: 3; */
	  /* animation-delay: 3s; */
	  @media screen and (max-width: 1224px) {
		font-size: 12vw;
		margin-left: 0;
	  }
	  @media screen and (max-width: 1024px) {
		font-size: 10vw;
	  }
	}
  }


  .heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(
	  to right,
	  $color-primary-light,
	  $color-primary-dark
	);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: 2px;
	transition: all 0.2s;

	&:hover {
	  transform: skewY(2deg) skewX(15deg) scale(1.1);
	  text-shadow: 0.5rem 1rem 2rem rgba(#000, 0.2);
	}
  }

  .heading-tertiary {
	// font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
  }

  .paragraph {
	// font-size: $default-font-size;

	&:not(:last-child) {
	  margin-bottom: 3rem;
	}
  }
