
/* ------------------------------  */
/*

Media Query Manager (Mixins)

0 - 600px;       Phone
600 - 900px;     Tablet Portrait
900 - 1200px;    Tablet Landscape
1200 - 1800px;   Desktop
1800px + ;       Big Desktop

`$breakpoint` Argument Choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography + general layout + grid > page layout > components

1em = 16px;

*/

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
	  @media only screen and (max-width: 37.5em) {
		// 600px / 16
		@content;
	  }
	}

	@if $breakpoint == tab-port {
	  @media only screen and (max-width: 56.25em) {
		// 900px / 16
		@content;
	  }
	}

	@if $breakpoint == tab-land {
	  @media only screen and (max-width: 75em) {
		// 1200px / 16
		@content;
	  }
	}

	@if $breakpoint == big-desktop {
	  @media only screen and (min-width: 112.5em) {
		// 1800px / 16
		@content;
	  }
	}
  }

  /* ----------------------------------------------- */
// ----- Navigation Style -----

.navigation {
	.navigation__checkbox {
		display: none;
	}

	// The white, circular bg of the element
	.navigation__button {
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0 1rem 3rem rgba(#000, 0.1);
		cursor: pointer;
		height: 3rem;
		position: fixed;
		right: 6rem;
		text-align: center;
		top: 6rem;
		width: 3rem;
		z-index: 2000;

		@include respond(tab-port) {
			right: 4rem;
			top: 4rem;
		}

		@include respond(phone) {
			right: 3rem;
			top: 3rem;
		}
	}

	// The blue, circular bg behind the white bg element
	.navigation__background {
		background-image: radial-gradient(#333, #000);
		border-radius: 50%;
		height: 3rem;
		position: fixed;
		right: 6.5rem;
		top: 6.5rem;
		transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
		width: 3rem;
		z-index: 1000;

		@include respond(tab-port) {
			right: 4.5rem;
			top: 4.5rem;
		}

		@include respond(phone) {
			right: 3rem;
			top: 3rem;
		}
	}

	// The actual 'new' page that'll have the content inside it
	.navigation__nav {
		height: 100vh;
		left: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		width: 0; // to make it disappear, else it'll be on the page
		z-index: 1500;
	}

	.navigation__list {
		left: 50%;
		list-style: none;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	.navigation__item {
		margin: 1rem;
	}

	.navigation__link {
		&:link,
		&:visited {
			background-image: linear-gradient(114deg, transparent 0%, transparent 50%, #fff 50%);
			background-size: 225%; // Must exceed element's size for full effect
			color: #fff;
			display: inline-block; // <a> behaves inline by default, so block needed
			font-size: 1rem;
			font-weight: 300;
			padding: 1rem 2rem;
			text-decoration: none;
			transition: all 0.4s;
		}

		&:hover,
		&:active {
			background-position: 100%;
			color: #000;
			transform: translateX(1rem);
		}
	}

	// ----- Functionality -----

	// When checkbox is 'checked', then make the bg and checkbox x80 bigger
	.navigation__checkbox:checked ~ .navigation__background {
		transform: scale(80);
	}

	// When checkbox is 'checked', reveal the nav with 'About and other text'
	.navigation__checkbox:checked ~ .navigation__nav {
		opacity: 1;
		width: 100%;
	}

	// burger-menu / 'x' icon

	.navigation__icon {
		position: relative;
		margin-top: 1.5rem;

		&, // the three lines -> center, above, and below
		&::before,
		&::after {
			width: 1.3rem;
			height: 1.3px;
			background-color: darkgrey;
			display: inline-block;
		}

		&::before, // reveal the other two lines surrounding the center one
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all 0.2s;
		}

		&::before {
			top: -0.4rem;
		}
		&::after {
			top: 0.4rem;
		}
	}

	.navigation__button:hover .navigation__icon::before {
		top: -0.5rem;
	}

	.navigation__button:hover .navigation__icon::after {
		top: 0.5rem;
	}

	// Make the middle line, of the three lines invisible
	.navigation__checkbox:checked + .navigation__button .navigation__icon {
		background-color: transparent;
	}

	.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
		top: 0;
		transform: rotate(135deg);
	}

	.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}
}
// --------------------------------------------------